* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: rgba(187, 212, 56, 0.5);
}

.swiper {
  width: 70vw;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3a4310 !important;
}

.swiper-pagination-bullet-active {
  background-color: #3a4310 !important;
}
